<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}"></head>

<body>

    <div id="i18n_admin_user" th:text="#{text.usuario.adminOk}" style="display: none;"></div>

    <header th:replace="~{layout/layout :: header}"></header>

    <div class="container py-4">

        <div class="card bg-light">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">

                <div th:object="${usuario}" th:remove="tag">
                    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <li th:each="err: ${#fields.errors('*')}" th:text="${err}" class="ms-3"></li>
                    </ul>
                </div>

                <form th:action="@{/usuarios/form}" th:object="${usuario}" method="post" onsubmit="return confirmAdminUser();">
                    <div class="form-group row mt-3">
                        <label class="col-form-label col-sm-2" for="username" th:text="#{text.usuario.username}">Nombre del usuario</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" th:field="*{username}"
                                th:errorclass="'form-control alert alert-danger'" />
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}"
                                th:errors="*{username}">
                            </small>
                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label class="col-form-label col-sm-2" for="password" th:text="#{text.login.password}">Contraseña</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="password" th:field="*{password}"
                                th:errorclass="'form-control alert alert-danger'" />
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                                th:errors="*{password}">
                            </small>
                        </div>
                    </div>

                    <div class="form-group row mt-3 align-items-center" th:if="${usuario.id == null}">
                        <label class="col-form-label col-sm-2" for="rol" th:text="#{text.usuario.admin}">Administrador/a</label>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="rol" id="rol" th:field="*{admin}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary mt-3" type="submit" th:value="${titulo}" />
                    </div>

                    <!-- <input type="hidden" th:field="*{id}" /> -->
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="~{layout/layout :: footer}"></footer>

    <script>
        function confirmAdminUser() {
            if (document.getElementById("rol").checked) {
                return confirm(document.getElementById('i18n_admin_user').innerHTML);
            }
            return true; // Si el checkbox no está marcado, permitir el envío del formulario.
        }
    </script>
</body>

</html>